{% block content %}
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입 창</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">








  <style>
    body {
      min-height: 100vh;

      background: -webkit-gradient(linear, left bottom, right top, from(#5AD18F), to(#1d466c));
      background: -webkit-linear-gradient(bottom left, #5AD18F 0%, #1d466c 100%);
      background: -moz-linear-gradient(bottom left, #5AD18F 0%, #1d466c 100%);
      background: -o-linear-gradient(bottom left, #5AD18F 0%, #1d466c 100%);
      background: linear-gradient(to top right, #5AD18F 0%, #1d466c 100%);
    }

    .input-form {
      max-width: 680px;

      margin-top: 80px;
      padding: 32px;

      background: #ffffff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
  </style>









</head>


<body>





  <div class="container">
    <form method="post" action="{% url 'common:signup' %}">
      {% csrf_token %}
      {% include "form_errors.html" %}
    <div class="input-form-backgroud row">
      <div class="input-form col-md-12 mx-auto">
        <h4 class="mb-3">회원가입</h4>
        {% comment %} <form class="validation-form" novalidate> 이거 왜 하지? {% endcomment %}

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="username">이름</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="" 
              value="{{ form.username.value|default_if_none:'' }}" required>
              <div class="invalid-feedback">
                이름을 입력해주세요.
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="birth">생년월일</label>
              <input type="date" class="form-control" id="birth" name="birth" placeholder="" 
              value="{{ form.birth.value|default_if_none:'' }}" required>
              <div class="invalid-feedback">
                생년월일을 입력해주세요.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="password1">비밀번호</label>
              <input type="password" class="form-control" id="password1" name="password1" placeholder="" 
              value="{{ form.password1.value|default_if_none:'' }}" required>
              <div class="invalid-feedback">
                비밀번호을 입력해주세요.
              </div>
            </div>
            
            <div class="col-md-6 mb-3">
              <label for="password2">비밀번호 확인</label>
              <input type="password" class="form-control" id="password2" name="password2" placeholder="" 
              value="{{ form.password2.value|default_if_none:'' }}" required>
              <div class="invalid-feedback">
                비밀번호 확인을 입력해주세요.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">이메일</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" 
            value="{{ form.email.value|default_if_none:'' }}" required>
            <div class="invalid-feedback">
              이메일을 입력해주세요.
            </div>
          </div>

          <div class="mb-3">
            <label for="number">전화번호</label>
            <input type="tel" class="form-control" id="number" name="number" 
            placeholder="xxx-xxxx-xxxx" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
            value="{{ form.number.value|default_if_none:'' }}" required>
            <div class="invalid-feedback">
              전화번호를 입력해주세요.
            </div>
          </div>
          
          <div class="row">
          <div class="mb-3">
            <label for="address">주소</label>
            <input type="text" class="form-control" id="address" name="address" 
            value="{{ form.address.value|default_if_none:'' }}"
            placeholder="서울특별시 강남구" required>
            <div class="invalid-feedback">
              주소를 입력해주세요.
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-lg btn-block" onclick="openDaumAddressPopup()">주소 검색</button>
        </div>

          <div class="mb-3">
            <label for="detail_address">상세주소<span class="text-muted">&nbsp;(필수 아님)</span></label>
            <input type="text" class="form-control" 
            id="detail_address" name="detail_address"
            placeholder="상세주소를 입력해주세요."
            value="{{ form.detail_address.value|default_if_none:'' }}">
          </div>

          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="aggrement" required>
            <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
          </div>
          <div class="mb-4"></div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
        </form>
      </div>
    </div>
    <footer class="my-3 text-center text-small">
      <p class="mb-1">&copy; 2023 menu ' i '</p>
    </footer>
  </div>


  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
      function openDaumAddressPopup() {
          new daum.Postcode({
              oncomplete: function(data) {
                  document.getElementById('address').value = data.address;
              }
          }).open();
      }
  </script>




  <script>
    window.addEventListener('load', () => {
      const forms = document.getElementsByClassName('validation-form');

      Array.prototype.filter.call(forms, (form) => {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  </script>
  {% endblock %}
{% comment %} </body>

</html> {% endcomment %}