<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Team 2nd : Menu ' i '</title>



        <style>
            /*.container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }*/

            #dropzone {
                width: 500px;
                height: 500px;
                border: 5px dashed rgb(22, 214, 147);   
                border-width: 8px;
                text-align: center;
                line-height: 300px;
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 100px;
                margin-left: 420px;
                color: rgb(250, 131, 12)
                /*position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(50%, 50%)*/
                
            }
            #image {
                max-width: 100%;
                max-height: 500px;
                padding-left: 0rem;
            }
        </style>




        <!-- Favicon
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
        <!-- <link rel="icon" type="image/x-icon" href="../로고/Favicon16-16.png" /> -->



        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>



        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />



        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/CoreTheme_css/styles.css" rel="stylesheet" />
    </head>

    <!-- <script>
        const nav = document.querySelector('#navbar-example2');
        const navLinks = nav.querySelectorAll('.nav-link');
        const sections = document.querySelectorAll('.scrollspy-example > *');
        
        window.addEventListener('scroll', () => {
            const currentSection = sections.length - [...sections].reverse().findIndex((section) => window.scrollY >= section.offsetTop - nav.offsetHeight - 30 ) - 1;
            
            navLinks.forEach((link) => link.classList.remove('active'));
            navLinks[currentSection].classList.add('active');
        });
    </script> -->

    <body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="0">


        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <!-- <a class="navbar-brand" href="#page-top"><img src="assets/img/navbar-logo.svg" alt="..." /></a> -->
                <a class="navbar-brand" href="{% url 'home' %}"><text>Menu ' i '</text></a>
                <!-- <a class="navbar-brand" href="#page-top"><img src="../로고/누끼딴거 로고파일로 변환한거.svg" alt="..." /></a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Tiny Menu. 
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#첫번째 단락">간단한 조 소개</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">staff 소개</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">기획의도</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#team">Staff 소개</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="#contact">Let'sTranslate</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Join Us!</a>
                            <ul class="dropdown-menu">
                                <li>
                                    {% if user.is_authenticated %} <!-- 현재 사용자가 로그인 되었는지 판별 -->
                                    <a class="dropdown-item" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
                                    {% else %}
                                    <a class="dropdown-item" href="{% url 'common:login' %}">sign in</a>
                                    {% endif %}
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    {% if not user.is_authenticated %}
                                    <a class="dropdown-item" href="{% url 'common:signup' %}">sign up</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>




        <!-- <nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
            <a class="navbar-brand" href="#">Navbar</a>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading1">첫번째 단락</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2">Second</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
                  <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
            <h4 id="scrollspyHeading1">첫번째 단락 heading</h4>
            <p>...</p>
            <h4 id="scrollspyHeading2">Second heading</h4>
            <p>...</p>
            <h4 id="scrollspyHeading3">Third heading</h4>
            <p>...</p>
            <h4 id="scrollspyHeading4">Fourth heading</h4>
            <p>...</p>
            <h4 id="scrollspyHeading5">Fifth heading</h4>
            <p>...</p>
          </div> -->







        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">🏅 Team: Menu ' I ' 🏅</div>
                <div class="masthead-heading text-uppercase">『Computer Vision Project』</div>
                <!-- <a class="btn btn-primary btn-xl text-uppercase" href="#첫번째 단락">More</a> -->
            </div>
        </header>


        
        <!-- 첫번째 단락-->
        <section class="page-section" id="첫번째 단락">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Menu i Logo + 기능개요</h2>
                    <h3 class="section-subheading text-muted">간략한 개요를 설명해드리겠습니다.</h3>
                </div>

                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <!-- 첫번째 단락 아이콘들변경 -->
                            <!-- <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>   -->
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>  
                            <i class="fa-solid fa-camera fa-stack-1x text-white"></i>
                        </span>
                        <h4 class="my-3">메뉴판 OCR인식</h4>
                        <p class="text-muted">임시:  저희는 EasyOCR을 이용한 text detect를 이용해서 메뉴판이미지를 인식하기위한 모델을 구축했습니다. (Bbox개별선택기능? 드래그기능?)</p>
                    </div>


                    <!-- <div class="fa-3x">
                        <i class="fa-solid fa-cog fa-spin"></i>
                    </div> -->
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <!-- <i class="fas fa-duotone fa-stack fa-book-spells text-white"></i> -->
                            <i class="fas fa-cog fa-spin fa-stack-1x text-white"></i>
                            <!-- <i class="fa-solid fa-cog fa-spin"></i> -->
                            <!-- <i class="fas fa-laptop fa-stack-1x fa-inverse"></i> -->
                        </span>
                        <h4 class="my-3">API 활용</h4>
                        <p class="text-muted">각종 Api들을 활용(번역 Api_ papago, DeepL // google, wikipedia? 음식의 대표사진 및 주요 재료 정보 // 환율도..?)</p>
                    </div>

                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <!-- <i class="fas fa-lock fa-stack-1x fa-inverse"></i> -->
                            <i class="fa-solid fa-envelope fa-bounce text-white" style="--fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 5;"></i>
                        </span>
                        <h4 class="my-3">Bookmark 및 History 기능</h4>
                        <p class="text-muted">검색했었던 Menu들의 번역내역을 텍스트로 저장합니다. -> 나중에 메뉴를 주문할때 다시 보면서 직원에게 주문할수있도록 하기 위함입니다. </p>
                    </div>

                </div>
            </div>
        </section>





        
        



        
        <!-- Portfolio Grid -->

        <section class="path fill="currentColor"ge-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Menu ' I ' Staff</h2> <br>
                    <h3 class="section-subheading text-muted"> [Introduce each member's position] </h3> <br>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">

                        <!-- Portfolio item 1-->

                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/(600450)ai-cloud-with-robot-face_23-2149739758.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">김 현 우</div>
                                <div class="portfolio-caption-subheading text-muted">조장, Modeling</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">

                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/(600450) D-P profile Image.jpeg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">김 성 수</div>
                                <div class="portfolio-caption-subheading text-muted">부조장, Front End</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">

                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/(600 450)adorable-little-poodle-with-cute-bunny-ears-on-a-beige-surface_181624-39109.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">박 보 경</div>
                                <div class="portfolio-caption-subheading text-muted">Modeling</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">

                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/(600 450)cute-little-dog-impersonating-a-business-person_23-2148985938.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">이 지 민</div>
                                <div class="portfolio-caption-subheading text-muted">Modeling</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">

                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/(600 450) little-young-dog-posing-cheerful_155003-28762.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">홍 수 민</div>
                                <div class="portfolio-caption-subheading text-muted">Back End</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">

                        <!-- Portfolio item 6-->
                        <!-- <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/6.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Window</div>
                                <div class="portfolio-caption-subheading text-muted">Photography</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        





        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">"문제정의 + 기획의도"</h2>
                    <h3 class="section-subheading text-muted">저희가 출사표를 던지게 된 경위를 보여드립니다.</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../static/images/about1.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>23.3.6 ~ 23.3.      구체적인 기간 나중에 WBS참조해서 수정</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">ㅂㅈㄷㅁㄴㅇ</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../static/images/about2.avif" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>23.3. ~ 23.3. </h4>
                                <h4 class="subheading">전처리 어쩌고</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">ㅂㅈㄷㅁㄴㅇ</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../static/images/about3.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>23.3. ~ 23.3. </h4>
                                <h4 class="subheading">Transition to Full Service</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">ㅂㅈㄷㅁㄴㅇ</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../static/images/about4.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>23.3. ~ 23.3. </h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">ㅂㅈㄷㅁㄴㅇ</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                저희가 구현
                                <br />
                                한걸 이제
                                <br />
                                보러가실까요
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>








        <!-- Team-->
        <!-- <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="..." />
                            <h4>Parveen Anand</h4>
                            <p class="text-muted">Lead Designer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="..." />
                            <h4>Diana Petersen</h4>
                            <p class="text-muted">Lead Marketer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="..." />
                            <h4>Larry Parker</h4>
                            <p class="text-muted">Lead Developer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
                </div>
            </div>
        </section> -->




        <!-- 협찬 로고들 -->
        <div class="py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="https://www.sba.seoul.kr/"><img class="img-fluid img-brand d-block mx-auto" src="static\images\sba.svg" alt="..." aria-label="sba Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="https://www.exc.co.kr/"><img class="img-fluid img-brand d-block mx-auto" src="static\images\expert.svg" alt="..." aria-label="expert Logo" /></a>
                    </div>
                    {% comment %} <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../static/images/sba-banner.svg" alt="..." aria-label="sba Logo" /></a>
                    </div> {% endcomment %}
                    <!-- <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/ibm.svg" alt="..." aria-label="IBM Logo" /></a>
                    </div> -->
                </div>
            </div>
        </div>

{% comment %} ---------------------------------------------------------------------------- {% endcomment %}



<!-- #1 -->
        <!-- drag -->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Drag & Drop Here</h2>
                    <h3 class="section-subheading text-muted">번역하고자 하는 메뉴판 이미지를 이곳에 " Drop " 해주세요! </h3>
                </div>

                <!-- 이미지 업로드 POST -->
                <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- 장고에서 지원하는 보안 토큰 -->

                    <!-- 이미지 드랍존 (이미지 Drag N Drop 영역) -->
                    <div id="dropzone" class="dropzone">
                        
                        <!-- 파일 선택창 -->
                        <input type="file" name="image" id="image-input" accept="image/*" style="display: none;" />
                        <label for="image-input" class="dropzone-label" id="image_label">Drag & Drop</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-xl text-uppercase float-right">Detect</button>
                        <button type="submit" class="btn btn-primary btn-xl text-uppercase float-left">Submit</button>
                    </div>
                </form>

                <!-- Drag N Drop Script -->
                <script>
                    const dropzone = document.getElementById('dropzone');
                    const imageInput = document.getElementById('image-input');
                  
                    dropzone.addEventListener('dragover', e => {
                      e.preventDefault(); /* 이미지를 드래그 하는 동안 기본 동작 막아줌 */
                      dropzone.classList.add('dragover');
                    });
                  
                    dropzone.addEventListener('dragleave', e => {
                      e.preventDefault(); /* 이미지를 드래그하다 드랍존 벗어날 때 기본 동작 막아줌 */
                      dropzone.classList.remove('dragover');
                    });
                  
                    dropzone.addEventListener('drop', e => {
                      e.preventDefault(); /* 이미지를 드랍할 때 기본 동작 막아줌 */
                      dropzone.classList.remove('dragover');
                      const files = e.dataTransfer.files;
                      /* 드롭한 파일 목록을 가져와 files 변수에 할당 */
                      if (files.length > 0) {
                        imageInput.files = files;
                        /* 파일이 0보다 크면 
                        이미지 파일을 input type="file" 엘리먼트의 files 속성에 추가합니다. */
                        const fileReader = new FileReader();
                        /* 파일 읽기 */
                        fileReader.readAsDataURL(files[0]);
                        /* 이미지 >> 데이터 URL 변환 */
                        fileReader.onload = () => {
                        /* 미리보기 이미지 만들기 */
                        const elementToRemove = document.getElementById('image_label');
                        const imagePreview = document.createElement('img');
                        imagePreview.style.maxWidth = '100%';
                        imagePreview.style.maxHeight = '100%'; // 추가된 부분
                        imagePreview.onload = function() {
                          const dropzone = document.getElementById('dropzone');
                          const dropzoneRatio = dropzone.offsetWidth / dropzone.offsetHeight;
                          const imgRatio = this.width / this.height;
                          if (dropzoneRatio > imgRatio) {
                            this.style.width = '100%';
                            this.style.height = 'auto';
                          } else {
                            this.style.width = 'auto';
                            this.style.height = '100%';
                          }
                        };
                        imagePreview.src = fileReader.result;
                        dropzone.appendChild(imagePreview);
                        elementToRemove.style.display = 'none';
                        }
                      }
                    });
                  </script>
                  <!-- Drag N Drop Script End -->
            </div>
        </section>








        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
                    <!-- <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div> -->
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>










        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- <div class="close-modal" data-bs-dismiss="modal"><img src="./assets/img/portfolio/staff face/(600450)ai-cloud-with-robot-face_23-2149739758.jpg" alt="Close" /></div> -->
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">김 현 우</h2>
                                    <p class="item-intro text-muted">Modeling, Menu ' I ' 이름 아이디어 제공자,  조장 </p>
                                    <img class="img-fluid d-block mx-auto" src="../static/images/(600450)ai-cloud-with-robot-face_23-2149739758.jpg" alt="..." />
                                    <p>소개말, 각자 다짐 및 포부나 느낀점들 등등 작성할것</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>작성하고픈거1:</strong>
                                            123456789
                                        </li>
                                        <li>
                                            <strong>작성하고픈거2:</strong>
                                            23456789
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div> -->
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">김 성 수</h2>
                                    <p class="item-intro text-muted">부조장. 어쩌다보니 FrontEnd </p>
                                    <img class="img-fluid d-block mx-auto" src="../static/images/(600450) D-P profile Image.jpeg" alt="..." />
                                    <p>소개말, 각자 다짐 및 포부나 느낀점들 등등 작성할것</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>작성하고픈거1:</strong>
                                            123456789
                                        </li>
                                        <li>
                                            <strong>작성하고픈거2:</strong>
                                            23456789
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- <div class="close-modal" data-bs-dismiss="modal"><img src="./assets/img/portfolio/staff face/(600 450)adorable-little-poodle-with-cute-bunny-ears-on-a-beige-surface_181624-39109.jpg" alt="Close modal" /></div> -->
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">박 보 경</h2>
                                    <p class="item-intro text-muted">Modeling 담당, # 추가하고픈걸 말씀해주세요</p>
                                    <img class="img-fluid d-block mx-auto" src="../static/images/(600 450)adorable-little-poodle-with-cute-bunny-ears-on-a-beige-surface_181624-39109.jpg" alt="..." />
                                    <p>소개말, 각자 다짐 및 포부나 느낀점들 등등 작성할것</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>작성하고픈거1:</strong>
                                            123456789
                                        </li>
                                        <li>
                                            <strong>작성하고픈거2:</strong>
                                            23456789
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div> -->
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">이 지 민</h2>
                                    <p class="item-intro text-muted">Modeling 담당, # 추가하고픈걸 말씀해주세요 
                                    </p>
                                    <img class="img-fluid d-block mx-auto" src="../static/images/(600 450)cute-little-dog-impersonating-a-business-person_23-2148985938.jpg" alt="..." />
                                    <p>소개말, 각자 다짐 및 포부나 느낀점들 등등 작성할것</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>작성하고픈거1:</strong>
                                            123456789
                                        </li>
                                        <li>
                                            <strong>작성하고픈거2:</strong>
                                            234596789
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div> -->
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">홍 수 민</h2>
                                    <p class="item-intro text-muted">Back end담당, # 추가하고픈걸 말씀해주세요 </p>
                                    <img class="img-fluid d-block mx-auto" src="../static/images/(600 450) little-young-dog-posing-cheerful_155003-28762.jpg" alt="..." />
                                    <p>소개말, 각자 다짐 및 포부나 느낀점들 등등 작성할것</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>작성하고픈거1:</strong>
                                            123456789
                                        </li>
                                        <li>
                                            <strong>작성하고픈거2:</strong>
                                            23456789
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Portfolio item 6 modal popup-->
        <!-- <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body"> -->
                                    <!-- Project details -->
                                    <!-- <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/6.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Window
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Photography
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->




        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/sigin-in-js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
